<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{% static 'main/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>

    </style>
</head>

<body>
<header>
    {% include 'main/subtemplates/header.html' %}
</header>

{% include 'main/subtemplates/sidebar.html' %}

<div class="container">
    {% block content %}

    {% endblock content %}
</div>

<footer>
    {% include 'main/subtemplates/footer.html' %}
</footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous">
</script>

<!--<script>-->
<!--    //  START    This script allows to autorestart page in development purposes-->
<!--    if (document.location.pathname == "/login") {-->
<!--        console.log("login page - no refresh");-->
<!--    } else {-->
<!--        console.log(document.location.pathname);-->
<!--        console.log("refresh!");-->
<!--        var timeout_ms = 3000;-->
<!--        setTimeout(function () {-->
<!--            location.reload()-->
<!--        }, timeout_ms);-->
<!--        console.log("restart_event " + timeout_ms);-->
<!--    }-->
<!--    //    END      This script allows to autorestart page in development purposes-->
<!--</script>-->
</body>
</html>