{% extends 'main/base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-7">
            <form method="post" enctype="multipart/form-data" class="mb-4">
                {% csrf_token %}
                <p>
                    Желаете удалить клиента {{ object.first_name}} {{ object.last_name }} {{ object.middle_name }}?
                </p>
                <button type="submit" class="btn btn-danger">Подтвердить</button>
                <a href="{% url 'clients:client' object.pk %}" class="btn btn-warning">Отмена</a>
            </form>
        </div>

        <div class="col-7">
            <div class="card">
                <div class="card-header">
                    {{ object.first_name }} {{ object.last_name }} {{ object.middle_name }}
                </div>
                <div class="card-body text-start">
                    <ul>
                        <li>Email: {{ object.email }}</li>
                        <li>Комментарий: {{ object.comment }}</li>
                        <li>День рождения: {{ object.birthday }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-4"></div>
        </div>
    </div>
    <div class="col-xxl-3"></div>
</div>
</div>


{% endblock content %}