{% extends '../main/base.html' %}
{% load my_tags %}

{% block content %}
<div class="container">
    {% if perms.newsletters.add_newsletters %}
    <div class="text-right">
        <button type="button" class="btn btn-outline-primary shadow-sm">
            <a href="{% url 'newsletters:create_newsletter' %}" style="color: black; text-decoration: none;">Создать рассылку</a>
        </button>
    </div>
    {% endif %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название рассылки</th>
            <th scope="col">Дата первой рассылки</th>
            <th scope="col">Периодичность рассылки</th>
            <th scope="col">Состояние рассылки</th>
            <th scope="col">Статус рассылки</th>
            <th scope="col">Владелец</th>
        </tr>
        </thead>
        <tbody>

        {% for object in object_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'newsletters:newsletter' object.pk %}">{{ object.name_newsletter }}</a></td>
            <td>{{ object.date_first_mailing }}</td>
            <td>{{ object.frequency_mailing|compare_periodicity }}</td>
            <td>{{ object.state_mailing|compare_status }}</td>
            <td>
                {{ object.is_active|yesno:"Активна,Не активна" }}
            </td>
            <td>{{ object.owner }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}
