<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{ user.avatar.url }}" class="card-img-top" alt="card-img-top">
        </div>
    </div>
    <div class="col-6">
        <div class="card-body">
            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }} {{ user.middle_name }}</h5>
            <p class="card-text mt-1">Ваш никнейм: {{ user.user_name }}</p>
            <p class="card-text mt-1">Ваш email: {{ user.email }}</p>
            <p class="card-text mt-1">
                Телефон: {% if user.phone %} {{ user.phone }} {% else %} Не указано {% endif %}
            </p>
            <p class="card-text mt-1">
                Страна: {% if user.country %} {{ user.country }} {% else %} Не указано {% endif %}
            </p>
            <p class="card-text mt-1">
                Город: {% if user.city %} {{ user.city }} {% else %} Не указано {% endif %}
            </p>
            <p class="card-text mt-1">
                День рождения: {% if user.birthday %} {{ user.birthday }} {% else %} Не указано {% endif %}
            </p>
        </div>
    </div>
</div>
